.row {
    display: flex;
}

.col {
    flex: auto;
    margin: 10px;
    padding: 20px;
    background-color: #5f9fa0;
}

.col-2 {
    flex: auto;
    margin: 10px;
    padding: 20px;
    background-color: #5f9fa0;
}

.col-3 {
    flex: auto;
    margin: 10px;
    padding: 20px;
    background-color: #5f9fa0;
}