h1 {
    background-color: black;
    color: white;
}


h2 {
    background-color: #663399;
    color: white;
    text-align: center;
}

h3 {
    background-color: #9fc5f8;
    color: #231752;
    text-decoration: underline;
    text-align: right;
}